node_modules/
frontend/dev/src/setupTests.js
frontend/dev/src/reportWebVitals.js
frontend/dev/src/App.test.js
frontend/dev/package.json
frontend/dev/package-lock.json


HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


backend/gradlew
backend/gradlew.bat

backend/src/main/resources/application-dev.yml

