.sidebarChannel:hover > h4{
    color: white;
    background-color: #40464b;
}


.sidebarChannel.clicked{
    color: white;
    background-color: #40464b;
}

.sidebarChannel {
    background-color: #2f3135;
    color: gray;
}



.sidebarChannel > h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

.sidebarChannel__hash{
    font-size: 20px;
    padding: 8px;
}